.inputtextbox{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.inputtextbox:focus {
    border: 3px solid #555;
}

.button-table-green2
{
  background-color: #5cb85c;
  width: 150px;
  height: 30px;
  font: normal 14px sans-serif, Arial; color:#f0f0f0;
  border: 0px none #5cb85c;
  border-radius: 1px;
  text-align:center;
  cursor: pointer;
}
.center {
  align:center;
}
