
.button-report
{
  background-color: #253046;
  width: 100px;
  height: 30px;
  font: normal 14px sans-serif, Arial; color:#f0f0f0;
  border: 0px none #253046;
  border-radius: 3px;
  margin-left: 5px;
  cursor: pointer;
}
.button-table-red
{
  background-color: #d9534f;
  width: 80px;
  height: 20px;
  font: normal 14px sans-serif, Arial; color:#f0f0f0;
  border: 0px none #d9534f;
  border-radius: 1px;
  text-align:center;
  cursor: pointer;
}
.button-table-green
{
  background-color: #5cb85c;
  width: 80px;
  height: 20px;
  font: normal 14px sans-serif, Arial; color:#f0f0f0;
  border: 0px none #5cb85c;
  border-radius: 1px;
  text-align:center;
  cursor: pointer;
}
.button-table-yellow
{
  background-color: #fff68f;
  width: 80px;
  height: 20px;
  font: normal 14px sans-serif, Arial; color:black;
  border: 0px none #5cb85c;
  border-radius: 1px;
  text-align:center;
  cursor: pointer;
}
.button-table-green2
{
  background-color: #5cb85c;
  width: 150px;
  height: 30px;
  font: normal 14px sans-serif, Arial; color:#f0f0f0;
  border: 0px none #5cb85c;
  border-radius: 1px;
  text-align:center;
  cursor: pointer;
}
th {
    background-color: #40e0d0;
    color: white;
}
tr:nth-child(odd){background-color: #d2d2d2}

.inputtextbox{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.inputtextbox:focus {
    border: 3px solid #555;
}

.center {
  margin-top: 20px;
}
