
{% include 'header.html' %}

<title>My Apartment</title>
<head></head>
<script src="../static/js/cal.js">
</script>
<script>
</script>
<body>

	<div id="page-wrapper">
    <div class="row" id="divExample">

        <div class="col-lg-12">
            <h1 class="page-header">{{nameser}}</h1>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <div id="result"></div>

             <div id="main">
                 <div id="first-rows">
                  <button class="del-bg" id="delete">Del</button>

                     <button value="+" class="btn-style opera-bg value align operator">+</button>
                   <button value="-" class="btn-style opera-bg operator">-</button>
                     </div>

                   <div class="rows">
                 <button value="7" class="btn-style num-bg num first-child">7</button>
                     <button value="8" class="btn-style num-bg num">8</button>
                     <button value="9" class="btn-style num-bg num">9</button>
                     <button value="*" class="btn-style opera-bg operator">x</button>
                     </div>

                     <div class="rows">
                     <button value="4" class="btn-style num-bg num first-child">4</button>
                     <button value="5" class="btn-style num-bg num">5</button>
                     <button value="6" class="btn-style num-bg num">6</button>
                     <button value="/" class="btn-style opera-bg operator">/</button>
                     </div>

                     <div class="rows">
                     <button value="1" class="btn-style num-bg num first-child">1</button>
                     <button value="2" class="btn-style num-bg num">2</button>
                     <button value="3" class="btn-style num-bg num">3</button>
                     <button value="." class="btn-style num-bg period fall-back">.</button>
                     </div>

                     <div class="rows">
                     <button value="0" class="num-bg zero" id="zero">0</button>

                     <button value="=" id="eqn-bg" class="eqn align">=</button>
                     </div>

                 </div>

          </div>

        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="col-lg-3">
      <input type="hidden" value="{{serid}}" id="serid"><br>
			<button class="btn btn-success" onclick="payment()" >ยืนยันการจ่ายเงิน</button>
      <!--<button class="btn btn-success" onclick="payment()" >ยืนยันการจ่ายเงิน</button>-->
    </div>
</body>


<!-- Main background -->
