
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script><!-- Add JQuery library -->

<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="../static/js/script.js"></script>
<script src="../static/js/scriptfix.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="../static/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="../static/js/metisMenu.min.js"></script>

<!-- Morris Charts JavaScript
<script src="../static/js/raphael.min.js"></script>
<script src="../static/js/morris.min.js"></script>
<script src="../static/js/morris-data.js"></script>
-->
<!-- Custom Theme JavaScript -->
<style>

</style>

<script src="../static/js/sb-admin-2.js"></script>
<link href="../static/css/bootstrap.min.css" rel="stylesheet">

<!-- MetisMenu CSS -->
<link href="../static/css/metisMenu.min.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="../static/css/sb-admin-2.css" rel="stylesheet">

<!-- Morris Charts CSS -->
<link href="../static/css/morris.css" rel="stylesheet">

<!-- Custom Fonts -->
<link href="../static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<!-- DataTables JavaScript -->
<script src="../static/js/jquery.dataTables.min.js"></script>
<script src="../static/js/dataTables.bootstrap.min.js"></script>
<script src="../static/js/dataTables.responsive.js"></script>

<link href="../static/css/cal.css" rel="stylesheet">
<script type="text/javascript" src="../static/js/script.js">
</script>

<script>
function HttprequestPost(url,data){
  if (window.XMLHttpRequest)
  {// code for IE7+, Firefox, Chrome, Opera, Safari
    xmlhttp=new XMLHttpRequest();
  }else
  {// code for IE6, IE5
    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }

  xmlhttp.open("GET",url,false);
  xmlhttp.onreadystatechange = function () {
        if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
            // content is loaded...hide the gif and display the content...
          //  document.getElementById("loading").style.display = "none";
            if (xmlhttp.responseText) {

            }
        }
        else
        {
          //document.getElementById("loading").style.display = "block";
        }
    }

  xmlhttp.open("POST",url,false);
  xmlhttp.send(data);
  var output = xmlhttp.responseText;
  //alert(output);
  return output;
}

function payment()
{
  try{
    if(window.location.pathname == '/calculator')
    {

      var price = document.getElementById("result").textContent;

      if(parseFloat(price) <= 0 || price == "")
      {
        alert("จำนวนเงินไม่ถูกต้อง");
      }
      else
      {
        var resp = httpGet("{{ url_for('video') }}");
      }
    }
    else
    {
      var resp = httpGet("{{ url_for('video') }}");
    }
  }
  catch(err) {
    var resp = httpGet("{{ url_for('video') }}");
  }

  // $('#loading2').hide();

}
function httpGet(theUrl)
{
    $('#loading2').modal({
                        backdrop: 'static',
                        keyboard: true,
                        show: true
                });
    $("body").css( {"cursor": "wait"} );
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.onreadystatechange = function()
    {
      if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
      {
          var mes = xmlHttp.responseText;

          var url = "/checkuser?code="+mes;
          var html = HttprequestGet(url);

          if(html == "-1")
          {
            alert("QRcode หมดอายุ / หมดเวลา");
          }
          else if(html == "-2")
          {
            alert("ไม่พบในระบบ");
          }
          else
          {
            obj = JSON.parse(html);
            var fname = obj.user[0].fname;
            var lname = obj.user[0].lname;
            var user = obj.user[0].users;
            var userid = obj.user[0].id;
            var text = "คุณ "+fname+" "+lname;
            try{
              if(window.location.pathname == '/calculator')
              {
                var price = document.getElementById("result").textContent;
                //alert(price);
              }
              else
              {
                var price = document.getElementById("price").value;
              }
            }
            catch(err){
              var price = document.getElementById("price").value;
            }

            var serid = document.getElementById("serid").value;

            text += " ยืนยันจ่ายเงิน จำนวน "+price+" บาท";
            var r = confirm(text);
            var txt;
            if (r == true)
            {
              try{
                if(window.location.pathname == '/calculator')
                {
                  document.getElementById("result").textContent = "";
                  //alert(price);
                }
              }
              catch(err){

              }
              finally
              {
                txt = "You pressed OK!";
                var response = httpPOST('/submitpayment',userid,serid,price);
              }


            }
            else
            {
                txt = "You pressed Cancel!";

            }

          }
          $('#loading2').modal('hide');
          $("body").css( {"cursor": "default"} );
      }

    }
    xmlHttp.open("GET", theUrl, true); // true for asynchronous
    xmlHttp.send(null);
}
function httpPOST(url,userid,serid,price)
{
  var http = new XMLHttpRequest();
  //var params = 'uid='+response.id+'&uname='+response.name;
  //http.open("POST", "/showtable", true);
  if(price != null)
  {
    var params = 'cusid='+userid+'&serid='+serid+'&price='+price;
  }
  else {
    var params = 'cusid='+userid+'&serid='+serid;
  }

  var mes = "";
  http.onreadystatechange = function() {
      if (http.readyState == 4 && http.status == 200) {
        //document.open();
        //document.write(http.responseText);
        mes = http.responseText;
        if(mes == "Payment Finish")
        {
          alert("ชำระเงินเสร็จสมบูรณ์");

        }
        else if (mes == "Not Enough Money") {
          alert("เงินคงเหลือไม่เพียงพอ");
        }
        return mes;
      }
  }
  http.open("POST",url, true);
  http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  http.send(params);
  //alert(http.responseText);

}
</script>

<input type="hidden" id="usernamehid" value="{{ name }}"/>
<div class="modal fade" id="loading2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
				<div class="modal-content">
          <div class="modal-header">

              <center>
                <h4 class="modal-title" id="myModalLabel" >กรุณาแสกน QRCODE</h4>
              </center>
          </div>
						<div class="modal-body">
							<div class="row">
                <div class="col-lg-3"></div>
								<div class="col-lg-6">
                <img src="../static/img/loading.gif">
								</div>
                <div class="col-lg-3"></div>
							</div>
						</div>

				</div>
				<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
</div>
<div id="wrapper">
  <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" >{{ name }}</a>
      </div>
      <!-- /.navbar-header -->

      <ul class="nav navbar-top-links navbar-right">
          <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
              </a>
              <ul class="dropdown-menu dropdown-messages">

                  <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i>ออกจากระบบ</a>
                  </li>
              </ul>
              <!-- /.dropdown-user -->
          </li>
          <!-- /.dropdown -->
      </ul>
      <!-- /.navbar-top-links -->

      <div class="navbar-default sidebar" role="navigation">
          <div class="sidebar-nav navbar-collapse">
              <ul class="nav" id="side-menu">

                  <li>
                      <a href="/" id="dashboard"><i class="fa fa-dashboard fa-fw"></i>หน้าแรก</a>
                  </li>
                  <li>
                      <a href="#"><i class="fa fa-gear fa-fw"></i>บริการต่างๆ<span class="fa arrow"></span></a>
                      <ul class="nav nav-second-level">
                        {% for x in range(0, ser|length) %}
                          {% if ser[x]['type'] == 3 %}
                          <li>
                            <a href="/calculator?serid={{ser[x]['id']}}&name={{ser[x]['name']}}" >{{ser[x]['name']}}</a>
                          <li>
                          {% else %}
                          <li>
                            <a href="#" id="{{ser[x]['id']}}">{{ser[x]['name']}}</a>
                          <li>
                          {%endif%}
                        {% endfor %}

                      </ul>
                      <!-- /.nav-second-level -->
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-phone fa-fw"></i>ติดต่อผู้พัฒนา {{tel}}</a>
                  </li>
                </ul>
          </div>
          <!-- /.sidebar-collapse -->
      </div>

      <!-- /.navbar-static-side -->
  </nav>
</div>


<script src = "../static/js/test.js"></script>

<script>
function showdatatable()
{
  $('#dataTables-example').DataTable({
      responsive: true
  });
  //alert("PASS");
}



{% for x in range(0, ser|length) %}
$("#{{ser[x]['id']}}").click(function() {
  //mainconsole('service','{{ id }}');
  servicetype("{{ser[x]['price']}}","{{ser[x]['type']}}","{{ser[x]['id']}}","{{ser[x]['name']}}");
  //showdatatable();
  //mond();
});
{% endfor %}
/*$("#conser").click(function() {
  //alert("PASS");
  mainconsole('service','{{ id }}');
  showdatatable();
});*/
function servicetype(price,type,serid,sername)
{
  var fdata = new FormData();
  fdata.append("price",price);
  fdata.append("serid",serid);
  fdata.append("type",type);
  fdata.append("name",sername);
  if(type == 3 || type == "3")
  {
    //loadScript('../static/js/cal.js');
    httppostshow('/calculator',fdata);
  }
  else {
    var html = HttprequestPost('/payment',fdata);
    document.getElementById("page-wrapper").innerHTML = html;
  }


}

function httppostshow(url,data)
{
	//var params = 'uid='+response.id+'&uname='+response.name;
	//alert("PASS");
  if (window.XMLHttpRequest)
	{// code for IE7+, Firefox, Chrome, Opera, Safari
		xmlhttp=new XMLHttpRequest();
	}else
	{// code for IE6, IE5
		xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	}

	xmlhttp.open("GET",url,false);
	xmlhttp.onreadystatechange = function () {
        if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
            // content is loaded...hide the gif and display the content...
          //  document.getElementById("loading").style.display = "none";
            if (xmlhttp.responseText) {

            }
        }
        else
        {
        	//document.getElementById("loading").style.display = "block";
        }
    }

	xmlhttp.open("POST",url,false);
	xmlhttp.send(data);
	var output = xmlhttp.responseText;
  document.open();
  document.write(output);

}
function HttprequestGet(url){


	if (window.XMLHttpRequest)
	{// code for IE7+, Firefox, Chrome, Opera, Safari
		xmlhttp=new XMLHttpRequest();
	}else
	{// code for IE6, IE5
		xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	}

	xmlhttp.open("GET",url,false);
	xmlhttp.onreadystatechange = function () {
        if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
            // content is loaded...hide the gif and display the content..
          //  document.getElementById("loading").style.display = "none";
            //alert("PASS");
            if (xmlhttp.responseText)
            {
              /*var myDiv = document.getElementById('divExample');
              myDiv.innerHTML = xmlhttp.responseText;*/
            }
        }
        else
        {
        	//document.getElementById("loading").style.display = "block";
        	//
        }
    };

	xmlhttp.send();
	var output = xmlhttp.responseText;
	//alert(output);
	return output;
}
function HttprequestPost(url,data){
	if (window.XMLHttpRequest)
	{// code for IE7+, Firefox, Chrome, Opera, Safari
		xmlhttp=new XMLHttpRequest();
	}else
	{// code for IE6, IE5
		xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	}

	xmlhttp.open("GET",url,false);
	xmlhttp.onreadystatechange = function () {
        if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
            // content is loaded...hide the gif and display the content...
          //  document.getElementById("loading").style.display = "none";
            if (xmlhttp.responseText) {

            }
        }
        else
        {
        	//document.getElementById("loading").style.display = "block";
        }
    }

	xmlhttp.open("POST",url,false);
	xmlhttp.send(data);
	var output = xmlhttp.responseText;
	//alert(output);
	return output;
}
</script>
