<!DOCTYPE html>
   <head>
      <title>{{ title }}</title>
   </head>

   <body>
      <h1>Hello, World!</h1>
      <h2>The date and time on the server is: {{ time }}</h2>
	<label>ID: <label><br>
	<input type="text"></input>

<!--<img src="{{ url_for('video') }}">-->
   </body>
</html>
