
{% include 'header.html' %}

<title>My Apartment</title>
<head></head>
<body>
	<div id="page-wrapper">
		{% if action =="cal" %}
		{% include 'calculator.html' %}
		{%else%}
		{% include 'maindashboard.html' %}
		{%endif%}

</body>
