<link href="../static/css/dataTables.bootstrap.css" rel="stylesheet">
<!-- DataTables Responsive CSS -->
<link href="../static/css/dataTables.responsive.css" rel="stylesheet">

<div class="row">
		<div class="col-lg-12">
				<h1 class="page-header">{{name}}</h1>
		</div>
		<!-- /.col-lg-12 -->
</div>
<div class="row">
		<div class="col-lg-4">
				<div class="panel panel-default">
						<div class="panel-heading">
								ค่าบริการ
						</div>
						<!-- /.panel-heading -->
						<div class="panel-body">
								<!-- /.table-responsive -->
                <div class="row">
                    <div class="col-lg-12">
                              <div class="form-group">
                                  <input class="form-control" type="text" value="{{price}}" id="price" readonly="" disabled="">
                                  <input type="hidden" value="{{serid}}" id="serid"><br>
                              </div>
                    </div>
                    <div class="col-lg-3">
                      <button class="btn btn-success"onclick="payment()" >ยืนยันการจ่ายเงิน</button>
                    </div>
                    </div>



						</div>
						<!-- /.panel-body -->
				</div>
				<!-- /.panel -->
		</div>
		<!-- /.col-lg-12 -->
</div>
